*{
    padding: 0px;
    margin: 0px;
    border:0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
h2{
    font-family: Cooper black;
    font-size: 36px;
}
.cabeza{
   background-color: black;
    display: flex;
/*    border: 2px darkblue solid;*/
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#navegador{
    width: 60%;
    display: flex; 
    justify-content: flex-end;
   
}
#navegador ul{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
         
}
#navegador ul li{
    background-color: #68BDED;
    width: 24.65%;
    margin: 0 2px 0 0;
    text-align: center;
    border-radius: 20% 0 20% 0;
    padding: 20px;
}
#navegador ul li a{
    font-size: 24px;
     color: white;
}
#navegador ul li a:hover{
    color: blueviolet;
}

/*contenido*/
main{
    
}

.w3-content{
    padding: 10px 0 10px 0;
}

.mySlides{
    width: 100%;
    height: 250px;
    
}
section{
    width: 60%;
}

 .separacion{
     display: flex;
     align-items: stretch;
/*     background: #9aa9d7; */
    background-image: url('/imagenes/arena.jpg');
 }
 .separacion section{
     flex-grow: 4;  
 }
 .separacion aside{
     flex-grow: 1;
     
 }
 #articulo{
     display: flex;
     text-align: center;
     
 }
 
 
 #mayor{
     text-align: center;
     margin: 20px;
 }
 #mayor h2{
     padding: 10px;
     display: inline-block;
     text-align: center;
     border-radius: 20%;
     background-color: #68BDED;
     
 }
 .primero{
     position: relative;
     
     display: inline-block;
     text-align: center;
     width: 50%;
    margin: 10px;
    text-align: center;
    font-size: 30px;
 }
 .imagenes{
     padding: 10px;
 }
 
 .titulo{
     position: absolute;
     top: 40%;
     right: 20.5%;
     left: 20.5%;
     bottom: 35%;   
    font-family: calibri;
     
 }
 .titulo a{
     color: gold;
     font-weight: bold;
     font-size: 33px;
 }
 
 aside{
     display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }
 aside img{
     width: 50%;
    padding: 10px;
    
 }
 
/* footer*/
 #pie{
     display: flex;
     flex-direction: column;
     background-color: grey;
 }
 .inscripcion{
     text-align: center;
     padding: 10px;
     background: plum;
     padding: 20px;
 }
 .inscripcion h2{
     padding: 10px;
 }
 .inscripcion p{
     font-size: 24px;
 }
 #correo, #boton{
     font-size: 15px;
     padding: 8px;
 }
 .listas{
     display: flex;
 }
 .listas ul{
     padding: 20px;
     width: 45%;
     text-align: center;
 }
 .listas ul h3{
     font-size: 28px;
 }
 .listas ul li{
     font-size: 20px;
 }

 
 
 @media screen and (max-width:1114px){
     .cabeza{
         flex-direction: column;
     }
     #navegador{
         width: 100%;
     }
     #navegador ul{
         flex-direction: column;
        
     }
     #navegador ul li{
         width: 100%;
         border-radius: 0;
          padding: 5px;
     }
     .mySlides{
         width: 100%;
     } 
     section{
         width: 100%;
     }
      .separacion{
     display: flex;
     flex-direction: column;
      }
     #articulo{
     display: flex; 
     flex-direction: column;
    }
    .primero, .segundo{
        width: 100%;
        margin: 0;
    }
    aside{
     display: flex;
     flex-direction: row;
     width: 96%;
    align-items: center;

    }
    aside img{
        width: 50%;
        padding: 0;
    }
 }